build/
bin/
lib/
python_bindings/libs/
python_bindings/pytaco/core/
*__pycache__*
*.swp
*.swo
*.DS_Store
*Makefile
*CMakeFiles/
*cmake_install.cmake
CMakeCache.txt
doc

apps/tensor_times_vector/tensor_times_vector
