[submodule "python_bindings/pybind11"]
	path = python_bindings/pybind11
	url = https://github.com/pybind/pybind11
[submodule "test/bats"]
	path = test/bats
	url = https://github.com/bats-core/bats-core
