[submodule "python_bindings/pybind11"]
	path = python_bindings/pybind11
	url = https://github.com/pybind/pybind11
[submodule "legion/legion"]
	path = legion/legion
	url = https://gitlab.com/StanfordLegion/legion.git
[submodule "legion/OpenBLAS"]
	path = legion/OpenBLAS
	url = git@github.com:xianyi/OpenBLAS.git
